<script>
	RED.nodes.registerType('json-multi-schema-transformer', {
		category: 'function',
		color: '#00B4FF',
		defaults: {
			name: { value: '', },
		},
		inputs: 1,
		outputs: 1,
		icon: 'function.png',
		label: function () {
			return this.name || 'json-multi-schema-transformer';
		},
	});
</script>

<script type="text/x-red" data-template-name="json-multi-schema-transformer">
	<div class="form-row">
		<label for="node-input-name"><i class="icon-tag"></i> Name</label>
		<input type="text" id="node-input-name" placeholder="Name" />
	</div>
</script>

<script type="text/x-red" data-help-name="json-multi-schema-transformer">
	<p>Node to transform a JSON observation to another format using a configurable set of JSONata rules.</p>
	<ul>
		<li>The node will transform a given JSON payload received in <code>msg.payload</code> using some JSONata rules, which URL is given in <code>msg.schemaUrl</code></li>
		<li>If any transformation is actually performed, the URL of the corresponding JSONata file is returned in <code>msg.transformUrl</code>.</li>
		<li>The transformed payload is returned in <code>msg.payload</code>. If no <code>msg.schemaUrl</code> is provided, no transformation is performed.</li>
		<li>Errors are returned on <code>msg.error</code></li>
	</ul>
	<p>Example of file containing the list of transformations:</p>
	<pre>
[
	{
		"query": "type='BasicVehicle' and latitude",
		"cases": {
			"true": "https://raw.githubusercontent.com/alexandrainst/node-red-contrib-json-multi-schema/master/examples/OldVehicleToVehicle.jsonata.js"
		}
	},
	{
		"query": "type='WeatherObserved' and latitude and longitude",
		"cases": {
			"true": "https://raw.githubusercontent.com/alexandrainst/node-red-contrib-json-multi-schema/master/examples/OldWeatherObservedToVehicle.jsonata.js"
		}
	}
]
	</pre>
	<p>Example of JSONata transformation file:</p>
	<pre>
{
	"id": id,
	"type": "Vehicle",
	"vehicleType": vehicleType,
	"category": [
		category1
	],
	"location": {
		"type": "Point",
		"coordinates": [
			longitude,
			latitude
		]
	},
	"name": name,
	"speed": speed,
	"cargoWeight": cargoWeight,
	"serviceStatus": serviceStatus,
	"serviceProvided": [
		serviceProvided1,
		serviceProvided2
	],
	"areaServed": areaServed,
	"refVehicleModel": refVehicleModel,
	"vehiclePlateIdentifier": vehiclePlateIdentifier
}
	</pre>
</script>
